.container {
    background-image: url('/images/imagenoite.jpeg');
    height: 905px;
}

.title_inicial {
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-top: 50px;
    color: #ffffff;
    background-size: cover;
    background-position: center;
}

.coitaner_home{
    display: flex;
    justify-content: center;
}