.navbar {
    height: 70px;
    justify-content: center;
    color: white;
    background-color: rgba(27, 27, 27, 0.938);
}

.navbar_menus {
    text-decoration: none;
    padding: 10px;
    color: white;
}

.navbar_menus:hover {
    color: rgb(48, 125, 197);
}